@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
  }

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(circle at center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: white;
    min-height: 100vh;
}  

.container {
    width: 650px;
    margin: 0 auto;
    max-width: 100%;
}

header {
    border: 2.5px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 50px 0;
}

h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
}

h4 {
    color: hsl(229, 64%, 46%);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.score {
    background-color: white;
    border-radius: 10px;
    padding: 20px 40px;
    text-align: center;
}

.score p {
    color: hsl(229, 25%, 31%);
    font-weight: 700;
    margin: 0;
    font-size: 3.5rem;
}

.rules {
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: white;
    font-family: inherit;
    padding: 10px 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 400px;
    width: 450px;
    position: relative;
}

main::before {
    background-image: url('./images/bg-triangle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    height: 70%;
    width: 70%;
    top: 20%;
    left: 15%;
    z-index: -1;
}

.btn {
    height: 170px;
    width: 170px;
    border: none;
    border-radius: 50%;
    margin: 0 25px;
}

.btn .wrapper {
    height: 130px;
    width: 130px;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 0 5px rgba(0, 0, 0, 0.2);
}

.btn-paper {
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.btn-scissors {
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.btn-rock {
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}